<div>
    <h2>
        <span>Posts</span>
        <button class="btn btn-primary float-right create-post" [routerLink]="['/', { outlets: { popup: ['post-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Post
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="posts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="conteudo"><span>Conteudo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dtcriacao"><span>Dtcriacao</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dtatualizacao"><span>Dtatualizacao</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tags"><span>Tags</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span>Status</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let post of posts ;trackBy: trackId">
                <td><a [routerLink]="['../post', post.id ]">{{post.id}}</a></td>
                <td>{{post.conteudo}}</td>
                <td>{{post.dtcriacao | date:'mediumDate'}}</td>
                <td>{{post.dtatualizacao | date:'mediumDate'}}</td>
                <td>{{post.tags}}</td>
                <td>{{post.status}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../post', post.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'post/'+ post.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'post/'+ post.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
